// colors
$primary: #1F2C35;
$complement: #1ABC9C;
$accent: #772e7e;

$offwhite: #f1f1f1;

// fonts
$body: 'Book';
$bodyitalic: 'Book Italic';
$headline: 'Medium';
$headlineitalic: 'Medium Italic';
$bold: 'Bold';
$bolditalic: 'Bold Italic';
